@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$screen-xs: 767px;

$playfair-Display: "Playfair Display", serif;

$primary01: #3B82F6;
$primary02: #DB4E77;

$text-primary01: #2D2F31;
$text-primary02: #A29E9E;
$text-primary04: #171A1F;

$text-primary03: #202223;
$border-primary01: #F3F3F3;

$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.9);
$black: #000000;
$yellow:yellow;

$blue : #2181FA;

$cyan : #27B1FF;
$border-color : #DEE1E6;
$bg-color : #111323;
$text-color :#404040;
$light-black:#101010;

$layer-black :#04171a;
$yellow :#fec63f;

$box-shadow01: 0 1px 119px rgba(0, 0, 0, 0.15);
$btn-shadow: 0 2.01389px 2.01389px rgba(0, 0, 0, 0.25);
$transition: all 0.2s ease-in-out;

body {
  font-family: $playfair-Display !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  //background: #080811 !important;
  color: $white !important;
  background-size: cover;
  background-position: top;
}

.container {
  max-width: 1164px !important;
  &.large{
    max-width: 1384px !important;
  }
  &.ex-large{
    max-width: 1440px !important;
  }
  &.small{
    max-width: 1100px !important;
  }
}

//      ****************************  Text Element  ****************************

h1, .h1 {
  font-weight: 700 !important;
  font-size: 72px !important;
  line-height: 94px !important;
  color: $text-primary01 !important;
  font-family: $playfair-Display !important;
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    font-size: 40px !important;
    line-height: 50px !important;
  }
  @media screen and (max-width: 991px) {
    font-size: 36px !important;
    line-height: 46px !important;
  }
  span{
    font-weight: 700 !important;
    font-size: 72px !important;
    line-height: 94px !important;
  }
}

h2 {
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 40px !important;
  color: $text-primary01 !important;
  font-family: $playfair-Display;
  letter-spacing: -0.78px;
  &.h2{
    font-size: 48px !important;
    line-height: 56px !important;
    span{
      font-size: 48px !important;
      line-height: 56px !important;
    }
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  @media screen and (max-width: 991px) {
    font-size: 24px  !important;
    line-height: 34px !important;
  }
  &.white{
    color: $white !important;
  }
}

h3, .h3 {
  font-family: $playfair-Display;
  font-weight: 600 !important;
  font-size: 25px;
  line-height: 35px;
  color: $text-primary02 !important;
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
  }
  span{
    font-size: 25px;
    line-height: 35px;
  }
  &.white{
    color: $white !important;
  }
  &.large{
    font-size: 28px;
    line-height: 34px;
    span{
      font-size: 28px;
      line-height: 34px;
    }
  }
  &.small{
    font-size: 23px;
    line-height: 28px; /* 121.739% */
    letter-spacing: -0.46px;
    color: $text-primary02;
  }
}

.h3{
  font-size: 30px;
  line-height: 40px;
}


p, .p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-family: $playfair-Display;
  color: $text-primary01;
  @media screen and (max-width: 767px) {
    font-size:14px !important;
    line-height: 24px !important;
  }
  &.medium{
    font-size: 15px;
  }
  &.cyan{
    color: $cyan !important;
  }
  &.white{
    color: $white;
  }
}
span {
  font-family: $playfair-Display;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: $text-primary01;
  display: inline-block;
  &.gradient-bg{
    font-size: 14px;
    line-height: 24px;
    color: $white;
    border-radius: 6px;
    border: 1px solid var(--Primary-Light-400, #60A5FA);
    background: var(--g1, linear-gradient(90deg, #7C4ACF 1.44%, #69B7FA 100%));
    padding: 2px 4px;
  }
  &.white{
    color: $white;
  }
  &.large{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: $text-color;
  }
  &.ex-small{
    font-size: 10px;
    line-height: 16px;
  }
  &.small{
    font-size: 12px;
  }
}

a, .a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-primary01 !important;
  text-decoration: none !important;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
  &:hover {
    color: $text-primary02 !important;
    text-decoration: none;
  }
}

strong {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: $playfair-Display;
  color: $text-primary01;
  letter-spacing: -0.38px;
  @media screen and (max-width: 991px) {
    font-size: 16px;
    line-height: 22px;
  }
  &.small{
    font-size: 14px;
    line-height: 18px;
  }
  &.white{
    color: $white;
  }
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  li {
    list-style: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-primary01;
    font-family: $playfair-Display !important;
  }
}

.box-icon{
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  img, svg{
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

//      ****************************  Button Element  ****************************

.btn-style{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: auto;
  width: auto !important;
  height: auto;
  padding: 6px 40px 6px;
  color: $white !important;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-family: $playfair-Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: $blue;
  border: 1px solid $blue;
  transition: all .3s ease-in-out;
  z-index: 2;
  img, svg {
    height: 18px;
    width: 18px;
    //object-fit: contain;
    //position: absolute;
    //right: 24px;
    transition: all .3s ease-in-out;
    color: $text-primary02;
    @media screen and (max-width: 767px) {
      right: 11px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 8px 30px 8px;
    font-size: 14px;
    gap: 8px;
    height: auto;
  }
  &:hover{
    transition: all .3s ease-in-out;
    background: $primary01;
    color: $white;
    img, svg{
      right: 18px;
      margin-left: 5px;
      @media screen and (max-width: 767px) {
        right: 11px;
      }
    }
  }
  &.gray{
    background: #F0F0F0;
    border: 2px solid #F0F0F0;
    color: #202223 !important;
  }
  &.small{
    padding: 1px 10px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px !important;
  }
  &.transparent{
    background: transparent;
    border-color: $primary01;
    color: $primary01 !important;
    &:hover{
      border: 1px solid #1E40AF;
      background: $primary01;
      color: $white !important;
    }
  }
  &.purple{
    background: var(--g1, linear-gradient(90deg, #7C4ACF 1.44%, #69B7FA 100%));
    color: $white;
    img, svg{
      color: $white;
    }
    &:hover{
      color: $white;
    }
  }
  &.colored-border{
    color: $text-color !important;
    text-transform: capitalize;
    border-radius: 10px;
    background: 0 0;
    //border-image-slice: 1!important;
    //border-image: linear-gradient(135deg,#0088CC 0%,#e36159 80%);
    background: linear-gradient(to right, $white, $white) padding-box, linear-gradient(to right, #FE506F,#FFA96E, #69B7FA, #7C4ACF) border-box;
    border: 1px solid transparent;
  }
  &.text-gradient{
    background: var(--g-11, linear-gradient(270deg, #7C4ACF 13.34%, #69B7FA 40.53%, #FFA96E 68.81%, #FE506F 85.85%)) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  &.text{
    background: transparent;
    border: none;
    box-shadow: none;
    color: $text-color !important;
  }
  &.black{
    background: $text-primary02;
    color: $white;
    border: 1px solid $text-primary02;
    &:hover{
      color: $white !important;
    }
  }
  &.round{
    border-radius: 50px;
  }
  &.shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
  &.icon{
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  &.gradient{
    background: rgb(219,10,10);
    background: linear-gradient(0deg, rgba(219,10,10,1) 0%, rgba(253,219,45,1) 100%);
    border: none;
    color: white;
  }
  &.icon-circle{
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    i{
      font-size: 22px;
    }
  }
  
}



//      ****************************  Global Element  ****************************


.form {
  .form-group {
    margin-bottom: 24px;
  }
  label{
    color: $black;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 5px;
    }
  }
  .form-control {
    border-radius: 8px;
    line-height: 34px;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    height: 64px;
    padding: 8px 17px 8px;
    border: none;
    color: $text-primary01;
    position: relative;
    outline: none;
    appearance: none;
    background-color: $white;
    @media screen and (max-width: 991px) {
      height: 55px;
    }
    &::placeholder {
      color: $text-primary01;
    }
    &:focus{
      box-shadow: none;
    }
  }

  input[type="checkbox"] {
    border: 1px solid $border-primary01;
    border-radius: 4px;
  }
}

